<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsir0h0XIKnfFz-YfY04CeON1GPX4p1fY</string>
	<key>GCM_SENDER_ID</key>
	<string>822433624910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.velourApp</string>
	<key>PROJECT_ID</key>
	<string>velour-6690f</string>
	<key>STORAGE_BUCKET</key>
	<string>velour-6690f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822433624910:ios:9232549b69e3f5dbf7a41f</string>
</dict>
</plist>